h1{
  width: 100%;
}

.paragraph{
  width: 100%;
  height: 35vh;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all ;
  hyphens: auto;
  white-space: normal;
  overflow-y: auto;
}

.accordion-button{
  filter: invert(0);
}